/* Knapper */

/* Struktur

Hovedklasse kv-button med standard verdier typ marginer, cursor osv...
Subklasse for farger til primary, secondary og tertiary
Subklasse for størrelser
Subklasse for ikon
Subklasse for ikon tilhørende størrelse - ikke nødvendig? Ser ut som at det kun er én størrelse på ikonet
Subklasse primary
    - hover
    - active
    - normal
    - disabled
    - focus
Subklasse secondary
    - samme ting som primary
Subklasse tertiary
    - samme ting som primary
*/

.kv-button{
    background: none; 
    border: none; /* Sjekk senere */
    border-radius: 0.5rem;
    text-align: center;
    text-decoration: none; /* Riktig? */
    display: inline-flex;
    cursor: pointer;
    margin: 0; /* Fyll inn riktig verdi senere*/
    gap: 0; /* Fyll inn riktig her senere, samme som gutter*/
    padding: var(--padding-button); /*Sjekk denne mot Figma og padding i layout.css senere */
    min-width: 2rem; /* Tilfeldig verdi, sjekk senere */
}

.kv-button-color{
    /* Primary */
    --kv-button-color-primary-green--normal: var(--groenn_moerk);
    --kv-button-color-primary-green--hover: var(--groenn);
    --kv-button-color-primary-green--active: var(--groenn_aktiv);
    
    --kv-button-color-primary-green-text: var(--hvit);

    
    --kv-button-color-primary-blue--normal: var(--blaa);
    --kv-button-color-primary-blue--hover: var(--blaa_hover);
    --kv-button-color-primary-blue--active: var(--blaa_moerk);
    
    --kv-button-color-primary-blue--normal--text: var(--hvit);
    --kv-button-color-primary-blue--hover--text: var(--svart);
    --kv-button-color-primary-blue--active--text: var(--hvit);


    /* Secondary */
    --kv-button-color-secondary-green--normal: var(--hvit);
    --kv-button-color-secondary-green--hover: var(--groenn);
    --kv-button-color-secondary-green--active: var(--groenn_aktiv);

    --kv-button-color-secondary-green--normal--text: var(--groenn_moerk);
    --kv-button-color-secondary-green--hover--text: var(--hvit);
    --kv-button-color-secondary-green--active--text: var(--hvit);

    
    --kv-button-color-secondary-blue--normal: var(--hvit);
    --kv-button-color-secondary-blue--hover: var(--blaa_hover);
    --kv-button-color-secondary-blue--active: var(--blaa_moerk);
    
    --kv-button-color-secondary-blue--normal--text: var(--blaa);
    --kv-button-color-secondary-blue--hover--text: var(--svart);
    --kv-button-color-secondary-blue--active--text: var(--hvit);

    
    /* Tertiary */
    --kv-button-color-tertiary-green--normal: var(--hvit);
    --kv-button-color-tertiary-green--hover: var(--hvit);
    --kv-button-color-tertiary-green--active: var(--hvit);

    --kv-button-color-tertiary-green--normal--text: var(--groenn_moerk);
    --kv-button-color-tertiary-green--hover--text: var(--groenn_moerk);
    --kv-button-color-tertiary-green--active--text: var(--groenn_aktiv);

    --kv-button-color-tertiary-green--hover--text-underline: var(--groenn_moerk);


    --kv-button-color-tertiary-blue--normal: var(--hvit);
    --kv-button-color-tertiary-blue--hover: var(--hvit);
    --kv-button-color-tertiary-blue--active: var(--hvit);

    --kv-button-color-tertiary-blue--normal--text: var(--blaa);
    --kv-button-color-tertiary-blue--hover--text: var(--blaa_moerk);
    --kv-button-color-tertiary-blue--active--text: var(--blaa_moerk);

    --kv-button-color-tertiary-blue--hover--text-underline: var(--blaa_moerk);

    /* Disabled */
    --kv-button-color--disabled-text: var(--graa_moerk);
    --kv-button-color--disabled: var(--graa_lys);

    /* Focus border */
    --kv-button-color-border--focus: var(--blaa_moerk);
}

.kv-button--xs{
    width: 9.875rem;
    height: 3.5rem;
}

.kv-button--sm{
    width: 13.375rem;
    height: 4.5rem;
}

.kv-button--l{
    width: 14.188rem;
    height: 5rem;
}


/* Subklasse for ikon HER  */

/* Subklasse for ikon tilhørende størrelser HER */


/* kv-button primary */
.kv-button-green--primary{
    background-color: var(--kv-button-color-primary-green--normal);
    color: var(--kv-button-color-primary-green-text); /* Setter tekstfarge */
    /* legge til border her? */
}

.kv-button-green--primary:hover{
    background-color: var(--kv-button-color-primary-green--hover);
    color: var(--kv-button-color-primary-green-text);
}

.kv-button-green--primary:active{
    background-color: var(--kv-button-color-primary-green--active);
    color: var(--kv-button-color-primary-green-text);
}

.kv-button-green--primary:focus{
   border: var(--focus-border) var(--kv-button-color-border--focus);
}

.kv-button-green--primary:disabled{
    background-color: var(--kv-button-color--disabled);
    color: var(--kv-button-color--disabled-text);
}



.kv-button-blue--primary{
    background-color: var(--kv-button-color-primary-blue--normal);
    color: var(--kv-button-color-primary-blue--normal--text);
}

.kv-button-blue--primary:hover{
    background-color: var(--kv-button-color-primary-blue--hover);
    color: var(--kv-button-color-primary-blue--hover--text);
}

.kv-button-blue--primary:active{
    background-color: var(--kv-button-color-primary-blue--active);
    color: var(--kv-button-color-primary-blue--active--text);
}

.kv-button-blue--primary:focus{
    border: var(--focus-border) var(--kv-button-color-border--focus);
}

.kv-button-blue--primary:disabled{
    background-color: var(--kv-button-color--disabled);
    color: var(--kv-button-color--disabled-text);
}



/* kv-button secondary */
.kv-button-green-secondary{
    background-color: var(--kv-button-color-secondary-green--normal);
    color: var(--kv-button-color-secondary-green--normal--text);
}

.kv-button-green-secondary:hover{
    background-color: var(--kv-button-color-secondary-green--hover);
    color: var(--kv-button-color-secondary-green--hover--text);
}

.kv-button-green-secondary:active{
    background-color: var(--kv-button-color-secondary-green--active);
    color: var(--kv-button-color-secondary-green--active--text);
}

.kv-button-green-secondary:focus{
    border: var(--focus-border) var(--kv-button-color-border--focus);
}

.kv-button-green-secondary:disabled{
    background-color: var(--kv-button-color--disabled);
    color: var(--kv-button-color--disabled-text);
}


.kv-button-blue--secondary{
    background-color: var(--kv-button-color-secondary-blue--normal);
    color: var(--kv-button-color-secondary-blue--normal--text);
}

.kv-button-blue--secondary:hover{
    background-color: var(--kv-button-color-secondary-blue--hover);
    color: var(--kv-button-color-secondary-blue--hover--text);
}

.kv-button-blue--secondary:active{
    background-color: var(--kv-button-color-secondary-blue--active);
    color: var(--kv-button-color-secondary-blue--active--text);
}

.kv-button-blue--secondary:focus{
    border: var(--focus-border) var(--kv-button-color-border--focus);
}

.kv-button-blue--secondary:disabled{
    background-color: var(--kv-button-color--disabled);
    color: var(--kv-button-color--disabled-text);
}


/* kv-button tertiary */
.kv-button-green-tertiary{
    background-color: var(--kv-button-color-tertiary-green--normal);
    color: var(--kv-button-color-tertiary-green--normal--text);
}

.kv-button-green-tertiary:hover{
    background-color: var(--kv-button-color-tertiary-green--hover);
    color: var(--kv-button-color-tertiary-green--hover--text);
    text-decoration: underline;
    text-decoration-color: var(--kv-button-color-tertiary-green--hover--text-underline);
}

.kv-button-green-tertiary:active{
    background-color: var(--kv-button-color-tertiary-green--active);
    color: var(--kv-button-color-tertiary-green--active--text);
}

.kv-button-green-tertiary:focus{
    border: var(--focus-border) var(--kv-button-color-border--focus);
}

.kv-button-green-tertiary:disabled{
    background-color: var(--kv-button-color--disabled);
    color: var(--kv-button-color--disabled-text);
}


.kv-button-blue--tertiary{
    background-color: var(--kv-button-color-tertiary-blue--normal);
    color: var(--kv-button-color-tertiary-blue--normal--text);
}

.kv-button-blue--tertiary:hover{
    background-color: var(--kv-button-color-tertiary-blue--hover);
    color: var(--kv-button-color-tertiary-blue--hover--text);
    text-decoration: underline;
    text-decoration-color: var(--kv-button-color-tertiary-blue--hover--text-underline);
}

.kv-button-blue--tertiary:active{
    background-color: var(--kv-button-color-tertiary-blue--active);
    color: var(--kv-button-color-tertiary-blue--active--text);
}

.kv-button-blue--tertiary:focus{
    border: var(--focus-border) var(--kv-button-color-border--focus);
}

.kv-button-blue--tertiary:disabled{
    background-color: var(--kv-button-color--disabled);
    color: var(--kv-button-color--disabled-text);
}