/* Knapper */

/* Struktur

Hovedklasse kv-button med standard verdier typ marginer, cursor osv...
Subklasse for størrelser
Subklasse for ikon
Subklasse for ikon tilhørende størrelse
Subklasse primary
    - hover
    - active
    - normal
    - disabled
    - focus
Subklasse secondary
    - samme attributter som primary
Subklasse tertiary
    - samme attributter som primary
*/

.kv-button{
    background: none; 
    border: none; /* Sjekk senere */
    border-radius: 0.5rem;
    text-decoration: none;
    cursor: pointer;
    margin: 0.5rem;
    gap: 1rem; /* Fyll inn riktig her senere, samme som gutter*/
    min-width: 2rem; /* Tilfeldig verdi, minste button width (xs) er 3.5rem så denne skal ikke overkjøre xs størrelsen*/
    font-family: 'Mulish';
    font-weight: 700;
    box-sizing: border-box;
    vertical-align: middle;
}


/******************* 
  Knappestørrelser 
********************/

.kv-button--xs{
    width: 8.875rem;
    height: 2.5rem;
    padding: var(--padding-button--xs);
    /* h3--x-small*/
    font-size: 1rem;
    line-height: 1.5rem;
}

.kv-button--sm{
    width: 9.875rem;
    height: 3.5rem;
    padding: var(--padding-button--s-m-l);
    /* h3--x-small*/
    font-size: 1rem;
    line-height: 1.5rem;
}

.kv-button--l{
    width: 10.688rem;
    height: 4rem;
    padding: var(--padding-button--s-m-l);
    font-size: 1.125rem;
    line-height: 2rem;
}


/******************
  Ikoner
*******************/

.kv-button-icon--xs{
    width: 10.625rem;
    height: 2.5rem;
    padding: var(--padding-button--xs);
    /* h3--x-small*/
    font-size: 1rem;
    line-height: 1.5rem;
}

.kv-button-icon--sm{
    width: 13.375rem;
    height: 3.5rem;
    padding: var(--padding-button--s-m-l);
    /* h3--x-small*/
    font-size: 1rem;
    line-height: 1.5rem;
}

.kv-button-icon--l{
    width: 14.188rem;
    height: 4rem;
    padding: var(--padding-button--s-m-l);
    font-size: 1.125rem;
    line-height: 2rem;
}

/* Ikoner */
.material-icons{
    font-family: 'Material Icons';
    font-weight: normal;
    font-size: 1.5rem;
    line-height: 1.5rem;
    display: inline-block;
    text-transform: none;
    letter-spacing: normal;
    word-wrap: normal;
    white-space: nowrap;
    direction: ltr;
    -webkit-font-smoothing: antialiased;
    text-rendering: optimizeLegibility;
    -moz-osx-font-smoothing: grayscale;
    font-feature-settings: 'liga';
    /* Nettopp lagt til*/
    vertical-align: middle;
    position: relative;
    padding-left: 0;
    padding-top: 1rem;
    padding-bottom: 1rem;
    padding-right: 1rem;
    box-sizing: border-box;
    width: 2.5rem;
    height: 3.5rem;
}

/******************
  Knappetyper
*******************/

/* kv-button primary */
.kv-button-green--primary{
    background-color: var(--groenn_standard);
    color: var(--hvit); /* Setter tekstfarge */
}

.kv-button-green--primary:hover{
    background-color: var(--groenn_hover);
    color: var(--hvit);
}

.kv-button-green--primary:active{
    background-color: var(--groenn_moerk);
    color: var(--hvit);
}




.kv-button-blue--primary{
    background-color: var(--blaa);
    color: var(--hvit);
}

.kv-button-blue--primary:hover{
    background-color: var(--blaa_hover);
    color: var(--svart);
}

.kv-button-blue--primary:active{
    background-color: var(--blaa_moerk);
    color: var(--hvit);
}




/* kv-button secondary */
.kv-button-green--secondary{
    background-color: var(--hvit);
    color: var(--groenn_standard);
    outline-style: solid;
    outline-color: var(--groenn_standard);
}

.kv-button-green--secondary:hover{
    background-color: var(--groenn_hover);
    color: var(--hvit);
    outline: none;
}

.kv-button-green--secondary:active{
    background-color: var(--groenn_moerk);
    color: var(--hvit);
    outline: none;
}



.kv-button-blue--secondary{
    background-color: var(--hvit);
    color: var(--blaa);
    outline-style: solid;
    outline-color: var(--blaa);
}

.kv-button-blue--secondary:hover{
    background-color: var(--blaa_hover);
    color: var(--svart);
    outline: none;
}

.kv-button-blue--secondary:active{
    background-color: var(--blaa_moerk);
    color: var(--hvit);
    outline: none;
}



/* kv-button tertiary */
.kv-button-green--tertiary{
    background-color: var(--hvit);
    color: var(--groenn_standard);
}

.kv-button-green--tertiary:hover{
    background-color: var(--hvit);
    color: var(--groenn_standard);
    text-decoration: underline;
    text-decoration-color: var(--groenn_standard);
}

.kv-button-green--tertiary:active{
    background-color: var(--hvit);
    color: var(--groenn_moerk);
}


.kv-button-blue--tertiary{
    background-color: var(--hvit);
    color: var(--blaa);
}

.kv-button-blue--tertiary:hover{
    background-color: var(--hvit);
    color: var(--blaa_moerk);
    text-decoration: underline;
    text-decoration-color: var(--blaa_moerk);
}

.kv-button-blue--tertiary:active{
    background-color: var(--hvit);
    color: var(--blaa_moerk);
}


/* Fokus */
.kv-button:focus:not(:focus-visible){
    outline: var(--blaa_moerk) solid var(--focus-outline);
    outline-offset: 0.313rem;
}

/* Disabled */
.kv-button:disabled{
    background-color: var(--graa_lys);
    color: var(--graa_moerk);
    outline-style: solid;
    outline-color: var(--graa_moerk);
}

