/* CSS-fil for Knapper */
/* Struktur
Hovedklasse .button med standard verdier typ marginer, cursor osv...
Subklasse for størrelser;button--xs/sm/l
Subklasse for knappestørrelser for ikonknapper
Subklasse for ikonstørrelser
Subklasse primary
    - hover
    - active
    - normal
Subklasse secondary
    - samme attributter som primary
Subklasse tertiary
    - samme attributter som primary

Disabled
Focus
*/

:root{
    --icon-button-padding-xs: 0.5rem;
    --icon-button-padding-sml: 1rem;
    --button-tertiary-background: var(--hvit);
}

/* Hovedklasse*/
.button{
    background: none; 
    border: none;
    border-radius: 0.5rem;
    text-decoration: none;
    cursor: pointer;
    margin: 0.5rem;
    font-family: 'Mulish', 'sans-serif';
    font-weight: 700;
    box-sizing: border-box;

    display: inline-flex;
    justify-items: center;
    justify-content: center;
    align-items: center;
}

/* Fokus */
.button:focus-visible{
    outline: var(--blaa_moerk) solid;
    outline-offset: 0.313rem;
    outline-width: var(--focus-outline);
}
/* Disabled */
.button:disabled{
    background-color: var(--graa_lys);
    color: var(--graa_moerk);
    outline-style: solid;
    outline-color: var(--graa_moerk);
}

/******************* 
  Knappestørrelser 
********************/
.button--xs{
        width: fit-content;
        height: 2.5rem;
        padding: var(--padding-button--xs);
        font-size: 1rem;
        line-height: 1.5rem;
}

.button--sm{
    width: fit-content;
    height: 3.5rem;
    padding: var(--padding-button--s-m-l);
    /* h3--x-small*/
    font-size: 1rem;
    line-height: 1.5rem;
}

.button--l{
    width: fit-content;
    height: 4rem;
    padding: var(--padding-button--s-m-l);
    font-size: 1.125rem;
    line-height: 2rem;
}

/***********************
 Primær-pog sekundærsett
************************/
/* BUTTON PRIMARY*/
.button__green--primary{
    background-color: var(--groenn_standard);
    color: var(--hvit); /* Setter tekstfarge */
}
.button__green--primary:hover{
    background-color: var(--groenn_hover);
    color: var(--hvit);
}
.button__green--primary:active{
    background-color: var(--groenn_moerk);
    color: var(--hvit);
}


.button__blue--primary{
    background-color: var(--blaa);
    color: var(--hvit);
}
.button__blue--primary:hover{
    background-color: var(--blaa_hover);
    color: var(--svart);
}
.button__blue--primary:active{
    background-color: var(--blaa_moerk);
    color: var(--hvit);
}



/* BUTTON SECONDARY*/
.button__green--secondary{
    background-color: var(--hvit);
    color: var(--groenn_standard);
    outline-style: solid;
    outline-color: var(--groenn_standard);
}
.button__green--secondary:hover{
    background-color: var(--groenn_hover);
    color: var(--hvit);
    outline: none;
}
.button__green--secondary:active{
    background-color: var(--groenn_moerk);
    color: var(--hvit);
    outline: none;
}


.button__blue--secondary{
    background-color: var(--hvit);
    color: var(--blaa);
    outline-style: solid;
    outline-color: var(--blaa);
}
.button__blue--secondary:hover{
    background-color: var(--blaa_hover);
    color: var(--svart);
    outline: none;
}
.button__blue--secondary:active{
    background-color: var(--blaa_moerk);
    color: var(--hvit);
    outline: none;
}


/* BUTTON TERTIARY */
.button__green--tertiary{
    background-color: var(--button-tertiary-background);
    color: var(--groenn_standard);
}
.button__green--tertiary:hover{
    background-color: var(--button-tertiary-background);
    color: var(--groenn_standard);
    text-decoration: underline var(--groenn_standard);
}
.button__green--tertiary:active{
    background-color: var(--button-tertiary-background);
    color: var(--groenn_moerk);
}


.button__blue--tertiary{
    background-color: var(--button-tertiary-background);
    color: var(--blaa);
}
.button__blue--tertiary:hover{
    background-color: var(--button-tertiary-background);
    color: var(--blaa_moerk);
    text-decoration: underline var(--blaa_moerk);
}
.button__blue--tertiary:active{
    background-color: var(--button-tertiary-background);
    color: var(--blaa_moerk);
}


/*BUG: får ikke fjernet underline på <span>-element ved hover.
Løst ved å sette underline-farge lik bakgrunnsfargen på knappen*/
.button__blue--tertiary:hover .material-symbols-outlined{
    text-decoration:underline var(--button-tertiary-background);
}
.button__green--tertiary:hover .material-symbols-outlined{
    text-decoration:underline var(--button-tertiary-background);
}

/*************************************
klasser for knapper med ikon. hvilken side ikonet skal være ift teksten.
*************************************/
.button--icon-left{
    flex-direction: row-reverse;
}
.button--icon-right{
    flex-direction: row;
}


/*************************************
  Styling av ikonet som er i en knapp
*************************************/

/* IKON-style (i knapp): xs-venstre*/
.button--xs.button--icon-left > span.material-symbols-outlined{
    font-size: var(--icon-fontSize-xs);
    height: var(--icon-height-xs);
    padding: 0 var(--icon-button-padding-xs) 0 0;
}
/* IKON-style (i knapp): xs-høyre*/
.button--xs.button--icon-right > span.material-symbols-outlined{
    font-size: var(--icon-fontSize-xs);
    height: var(--icon-height-xs);
    padding: 0 0 0 var(--icon-button-padding-xs);
    z-index: 2;
}
/* IKON-style (i knapp): sml-høyre*/
.button--sm.button--icon-right > span.material-symbols-outlined{
    font-size: var(--icon-fontSize-sml);
    height: var(--icon-height-sml);
    padding: 0 0 0 var(--icon-button-padding-sml);
}
.button--l.button--icon-right > span.material-symbols-outlined{
    font-size: var(--icon-fontSize-sml);
    height: var(--icon-height-sml);
    padding: 0 0 0 var(--icon-button-padding-sml);
}

/* IKON-style (i knapp): sml-venstre*/
.button--sm.button--icon-left > span.material-symbols-outlined{
    font-size: var(--icon-fontSize-sml);
    height: var(--icon-height-sml);
    padding: 0 var(--icon-button-padding-sml) 0 0 ;
}
.button--l.button--icon-left > span.material-symbols-outlined{
    font-size: var(--icon-fontSize-sml);
    height: var(--icon-height-sml);
    padding: 0 var(--icon-button-padding-sml) 0 0 ;
}


