/* Knapper */

/* Struktur

Hovedklasse kv-button med standard verdier typ marginer, cursor osv...
Subklasse for størrelser
Subklasse for ikon
Subklasse for ikon tilhørende størrelse - ikke nødvendig? Ser ut som at det kun er én størrelse på ikonet
Subklasse primary
    - hover
    - active
    - normal
    - disabled
    - focus
Subklasse secondary
    - samme attributter som primary
Subklasse tertiary
    - samme attributter som primary
*/

.kv-button{
    background: none; 
    border: none; /* Sjekk senere */
    border-radius: 0.5rem;
    text-decoration: none;
    cursor: pointer;
    margin: 0.5rem;
    gap: 1rem; /* Fyll inn riktig her senere, samme som gutter*/
    min-width: 2rem; /* Tilfeldig verdi, minste button width (xs) er 3.5rem så denne skal ikke overkjøre xs størrelsen*/
    font-family: 'Mulish';
    font-weight: 700;
}


/******************* 
  Knappestørrelser 
********************/

.kv-button--xs{
    width: 9.875rem;
    height: 3.5rem;
    padding: var(--padding-button--xs);
    /* h3--x-small*/
    font-size: 1rem;
    line-height: 1.5rem;
}

.kv-button--sm{
    width: 10.875rem;
    height: 4.5rem;
    padding: var(--padding-button--s-m-l);
    /* h3--x-small*/
    font-size: 1rem;
    line-height: 1.5rem;
}

.kv-button--l{
    width: 11.688rem;
    height: 5rem;
    padding: var(--padding-button--s-m-l);
    font-size: 1.125rem;
    line-height: 2rem;
}


/* Subklasse for ikon HER  */


/******************
  Knappetyper
*******************/

/* kv-button primary */
.kv-button-green--primary{
    background-color: var(--groenn_standard);
    color: var(--hvit); /* Setter tekstfarge */
}

.kv-button-green--primary:hover{
    background-color: var(--groenn_hover);
    color: var(--hvit);
}

.kv-button-green--primary:active{
    background-color: var(--groenn_moerk);
    color: var(--hvit);
}

.kv-button-green--primary:focus{
   outline-style: solid;
   outline-color: var(--blaa_moerk);
   outline-width: var(--focus-outline);
   /*outline: var(--focus-outline) solid var(--blaa_moerk);*/
   outline-offset: 0.313rem;
}

.kv-button-green--primary:disabled{
    background-color: var(--graa_lys);
    color: var(--graa_moerk);
}



.kv-button-blue--primary{
    background-color: var(--blaa);
    color: var(--hvit);
}

.kv-button-blue--primary:hover{
    background-color: var(--blaa_hover);
    color: var(--svart);
}

.kv-button-blue--primary:active{
    background-color: var(--blaa_moerk);
    color: var(--hvit);
}

.kv-button-blue--primary:focus{
   outline-style: solid;
   outline-color: var(--blaa_moerk);
   outline-width: var(--focus-outline);
   /*outline: var(--focus-outline) solid var(--blaa_moerk);*/
   outline-offset: 0.313rem;
}

.kv-button-blue--primary:disabled{
    background-color: var(--graa_lys);
    color: var(--graa_moerk);
}



/* kv-button secondary */
.kv-button-green--secondary{
    background-color: var(--hvit);
    color: var(--groenn_standard);
    outline-style: solid;
    outline-color: var(--groenn_standard);
}

.kv-button-green--secondary:hover{
    background-color: var(--groenn_hover);
    color: var(--hvit);
    outline: none;
}

.kv-button-green--secondary:active{
    background-color: var(--groenn_moerk);
    color: var(--hvit);
    outline: none;
}

.kv-button-green--secondary:focus{
   outline-style: solid;
   outline-color: var(--blaa_moerk);
   outline-width: var(--focus-outline);
   /*outline: var(--focus-outline) solid var(--blaa_moerk);*/
   outline-offset: 0.313rem;
}

.kv-button-green--secondary:disabled{
    background-color: var(--graa_lys);
    color: var(--graa_moerk);
}


.kv-button-blue--secondary{
    background-color: var(--hvit);
    color: var(--blaa);
    outline-style: solid;
    outline-color: var(--blaa);
}

.kv-button-blue--secondary:hover{
    background-color: var(--blaa_hover);
    color: var(--svart);
    outline: none;
}

.kv-button-blue--secondary:active{
    background-color: var(--blaa_moerk);
    color: var(--hvit);
    outline: none;
}

.kv-button-blue--secondary:focus{
   outline-style: solid;
   outline-color: var(--blaa_moerk);
   outline-width: var(--focus-outline);
   /*outline: var(--focus-outline) solid var(--blaa_moerk);*/
   outline-offset: 0.313rem;
}

.kv-button-blue--secondary:disabled{
    background-color: var(--graa_lys);
    color: var(--graa_moerk);
}


/* kv-button tertiary */
.kv-button-green--tertiary{
    background-color: var(--hvit);
    color: var(--groenn_standard);
}

.kv-button-green--tertiary:hover{
    background-color: var(--hvit);
    color: var(--groenn_standard);
    text-decoration: underline;
    text-decoration-color: var(--groenn_standard);
}

.kv-button-green--tertiary:active{
    background-color: var(--hvit);
    color: var(--groenn_moerk);
}

.kv-button-green--tertiary:focus{
   outline-style: solid;
   outline-color: var(--blaa_moerk);
   outline-width: var(--focus-outline);
   /*outline: var(--focus-outline) solid var(--blaa_moerk);*/
   outline-offset: 0.313rem;
}

.kv-button-green--tertiary:disabled{
    background-color: var(--graa_lys);
    color: var(--graa_moerk);
}


.kv-button-blue--tertiary{
    background-color: var(--hvit);
    color: var(--blaa);
}

.kv-button-blue--tertiary:hover{
    background-color: var(--hvit);
    color: var(--blaa_moerk);
    text-decoration: underline;
    text-decoration-color: var(--blaa_moerk);
}

.kv-button-blue--tertiary:active{
    background-color: var(--hvit);
    color: var(--blaa_moerk);
}

.kv-button-blue--tertiary:focus{
   outline-style: solid;
   outline-color: var(--blaa_moerk);
   outline-width: var(--focus-outline);
   /*outline: var(--focus-outline) solid var(--blaa_moerk);*/
   outline-offset: 0.313rem;
}

.kv-button-blue--tertiary:disabled{
    background-color: var(--graa_lys);
    color: var(--graa_moerk);
}