/* farger */

:root{
    /*svart og hvit*/
    --svart: #222222;
    --hvit: #FFFFFF;

    /*graa*/
    --graa_moerk: #505050;
    --graa: #707070;
    --graa_lys: #F5F2F2;

    /*Blaa*/
    --blaa_moerk: #175092;
    --blaa: #1A589F;
    --blaa_lys: #E4F1F8;
    --blaa_hover: #1A589F;

    /*groenn*/
    --groenn_moerk: #156630;
    --groenn: #1A833B;
    --groenn_aktiv: #05502A;
    --groenn_lys: #D0ECD6;

    /*roed og rosa*/
    --roed_feilmelding: #A32F00;
    --roed_moerk: #D04a14;
    --rosa: #F7E6EB;

    /*oransje og gul*/
    --oransje: #FCF1E8;
    --gul: #FFDD9D;
    --gul_lys: #FCEBCD;
}



