/*Skjermstørrelser: Spør Wanni om disse størrelsene kontra Figma*/
screensize{
    --screenBreakSm: 768px; /*Maks størrelse for small-devices*/
    --screenBreakM: 1023px; /*Maks størrelse som for medium-devices*/
    --screenBreakXl: 1440px; /*Minste størrelse for large-devices*/
}


/*Grid OBS! Hver av størrelsene mangler en verdi fra figma*/
grid{
    /*extra small/small (stretch grid)*/
    --grid-col-s: 4px;
    --grid-margin-s: 16px;
    --grid-gutter-s: 16px;

    /*medium (stretch grid)*/
    --grid-col-m: 8px;
    --grid-margin-m: 64px;
    --grid-gutter-m: 32px;

    /*large (center grid)*/
    --grid-col-l: 12px;
    --grid-margin-l: 64px;
    --grid-gutter-l: 32px;
}


/*Annet fra variables.scss, spør Wanni/Bente om dette*/
other{
    --border-radius: 25.5px; /*For knapper med avrundede hjørner*/
    --skygge: 0 2px 4px 0 rgba(0, 0, 0, 0.5);
}
