:root{
    /*Skjermstørrelse*/
    --screenBreakSm: 48rem; /*Maks størrelse for small-devices*/
    --screenBreakM: 63.938rem; /*Maks størrelse som for medium-devices*/
    --screenBreakXl: 90rem; /*Minste størrelse for large-devices*/


    /*Grid*/
    /*extra small/small (stretch grid)*/
    --distance-s: 0.5rem;
    --grid-col-s: 0.25rem;
    --grid-margin-s: 1rem;
    --grid-gutter-s: 1rem;

    /*medium (stretch grid)*/
    --distance-m: 1rem;
    --grid-col-m: 0.5rem;
    --grid-margin-m: 4rem;
    --grid-gutter-m: 2rem;

    /*large (center grid)*/
    --distance-l: 1.5rem;
    --grid-col-l: 0.75;
    --grid-margin-l: 4rem;
    --grid-gutter-l: 2rem;

    --distance-xl: 2rem;

.details {
    outline: none;
    background: white;
    border: none;
}

.details > summary {
    padding: 4px;
    width: auto;
    background-color: white;
    cursor: pointer;
    outline: none;
}

.details > p {
    background-color: white;
    padding: 4px;
    margin: 0;
    color: #A32F00;
}

    /* Padding */
    --padding-button: 0.5rem;


    /* Focus border state */
    --focus-border: 0.188rem;
}
