/*Skjermstørrelse*/
:root{
    --screenBreakSm: 48rem; /*Maks størrelse for small-devices*/
    --screenBreakM: 63.938rem; /*Maks størrelse som for medium-devices*/
    --screenBreakXl: 90rem; /*Minste størrelse for large-devices*/


/*Grid*/
    /*extra small/small (stretch grid)*/
    --distance-s: 0.5rem;
    --grid-col-s: 0.25rem;
    --grid-margin-s: 1rem;
    --grid-gutter-s: 1rem;

    /*medium (stretch grid)*/
    --distance-m: 1rem;
    --grid-col-m: 0.5rem;
    --grid-margin-m: 4rem;
    --grid-gutter-m: 2rem;

    /*large (center grid)*/
    --distance-l: 1.5rem;
    --grid-col-l: 0.75;
    --grid-margin-l: 4rem;
    --grid-gutter-l: 2rem;

    --distance-xl: 2rem;
}


/*Annet fra variables.scss
other{
    --border-radius: 25.5px; /*For knapper med avrundede hjørner*/ /*egen variabel i button.css i toppen
    /*--skygge: 0 2px 4px 0 rgba(0, 0, 0, 0.5);
}*/
