/*css-klasser for å style søkeknappen i søkefelt. SØkefelt bruker også klasser fra input.css*/
.searchbar__wrapper {
    width: 100%;
    display: flex;
    margin-bottom: 1rem;
}

.searchbar__wrapper .inputField {
    border-radius: 0.25rem 0 0 0.25rem;
}

.button__searchbar{
    background-color: var(--green_dark);
    color: var(--white);
    height: 2.6rem;
    width: 3.5rem;
    border-radius: 0 0.25rem 0.25rem 0;
    margin: 0;
    z-index: 2;
    display: inline-flex;
    align-items: center;
    position: relative;
    left: -0.06rem;
    top: -0.05rem;
}

.button__searchbar:hover{
    background-color: var(--green);
}

.button__searchbar:active{
    background-color: var(--green_active);
}

.button__searchbar:focus-visible{
    outline-offset: 0;
}

.button__searchbar span {
    position: relative;
    left: -0.8rem;
}