/*---Listevisning---*/

#data-input,
.kv-table {
    font-family: 'Mulish';
    width: 100%;
    border-collapse: collapse;
    table-layout: fixed;
}

#data-input td, #data-input th,
.kv-table td, .kv-table th {
    border: 0;
    padding: 1rem 0.5rem 1rem 0.5rem;

    word-break: keep-all;
    height: 2.5rem;
}

#data-input tr:nth-child(even),
.kv-table tr:nth-child(even) {
    background-color: var(--blue_light);
}

#data-input tr:hover,
.kv-table tr:hover {
    background-color: var(--blue_hover);
    color: var(--white);
}

#data-input th,
.kv-table th {
    background-color: var(--white);
    border-bottom: 0.125rem solid var(--black);
    text-align: center;
    color: var(--gray_dark);
    height: 2.5rem;

    /*--For sticky header--*/
    position: -webkit-sticky; /* For sticky header i Safari */
    position: sticky;
    top: 0; /* Må være med for å få sticky header */
    z-index: 1;
}

#data-input td:nth-of-type(3n),
.kv-table td:nth-of-type(3n) {
    text-align: left;
}

#data-input td:nth-of-type(4n),
.kv-table td:nth-of-type(4n) {
    text-align: right;
}

#data-input td:nth-of-type(5n),
.kv-table td:nth-of-type(5n) {
    text-align: left;
}

#data-input tr:hover + label::before,
.kv-table tr:hover + label::before {
    color: var(--white);
}

.table__container--large,
.table__container--large {
    height: 30rem;
    width: 29rem;
    overflow-y: scroll;
}

.kv-table__container--small,
.kv-table__container--small {
    height: 22.5rem;
    width: 17rem;
    overflow-y: scroll;
}