/* Style the tab */
.tab,
.kv-tab {
  overflow: hidden;
}

.tab .tab__links,
.kv-tab .kv-tab__links {
  background-color: transparent;
  float: left;
  cursor: pointer;
  padding: 14px 16px;
  border: none;
}

.tab__links:hover,
.kv-tab__links:hover {
  border-bottom: var(--blue_hover) 2px solid;
}

.tab__links:active,
.kv-tab__links:active {
  border-bottom: var(--blue) 2px solid;
}

.tab .active__link--demo,
.kv-tab .active__link--demo {
  border-bottom: var(--blue) 2px solid;
}
