@import url('https://fonts.googleapis.com/css2?family=Mulish:wght@700&display=swap');


html {
    font-family: 'Mulish', sans-serif;
  }
  
body {
    color: black ;
    font-style: normal;
  }

.underline{
    text-decoration-line: underline;
}



.heading {
    font-weight: 700;
}


/*h1-titles
h3-large*/
.h1--x-small, .h3--large {
    font-size: 1.25rem;
    line-height: 2rem;
}

.h1--small{
    font-size: 1.5rem;
    line-height: 2.5rem;
}
.h1--medium{
    font-size: 2rem;
    line-height: 3rem;
}

.h1--large{
    font-size: 2.25rem;
    line-height: 3rem;
}


/*h2-titles*/
.h2--x-small {
    font-size: 1.125rem;
    line-height: 1.5rem;
}

.h2--small{
    font-size: 1.5rem;
    line-height: 2rem;
}

.h2--medium{
    font-size: 1.75rem;
    line-height: 2rem;
}
.h2--large{ 
    font-size: 2rem;
    line-height: 2.5rem;
}

/*h3-titles*/
.h3--x-small {
    font-size: 1rem;
    line-height: 1.5rem;
}

/*brodtekst, default xs*/
.brodtekst{
    font-weight: 400;
    font-size: 1rem;
    line-height: 1.5rem;
}

/*klasse for h3-størrelser (small, medium)
 klasse for brodtekst-størrelser (small, meidum,large*/
.brodtekst.s-m-l, .h3--s-m{
    font-size: 1.125rem;
    line-height: 2rem;
}


/*label og beskrivende tekst*/    

.label--x-small, .beskrivende-tekst--x-small{
    font-weight: 400;
    font-size: 0.75rem;  
    line-height: 1.5rem;
} 

/*label og beskrivende tekst, str. small,medium, large*/  
.label--s-m-l, .beskrivende-tekst--s-m-l{
    font-weight: 400; 
    font-size: 0.875rem;
    line-height: 1.5rem;
}
