//farger
$svart: #222222;
$graa_moerk: #505050;
$graa: #707070;
$graa_linje: #7070702E;
$graa_lys: #F5F2F2;
$blaa_moerk: #175092;
$blaa: #1A589F;
$blaa_lys: #E4F1F8;
$groenn_moerk: #156630;
$groenn_hover: #1A833B;
$groenn_aktiv: #05502A;
$groenn_lys: #D0ECD6;
$roed_moerk: #D04a14;
$rosa: #F7E6EB;
$oransje: #FCF1E8;
$gul: #FFDD9D;
$gul_lys: #FCEBCD;

//Skjermstørrelser
$screenBreak: 992px; //Maks størrelse for large-devices i bootstrap: https://getbootstrap.com/docs/4.1/layout/overview/
$screenBreakSm: 768px; //Maks størrelse som for medium-devices i bootstrap: https://getbootstrap.com/docs/4.1/layout/overview/
$screenBreakXl: 1200px; //Maks størrelse for extra large-devices i bootstrap: https://getbootstrap.com/docs/4.1/layout/overview/

//Grid
$grid-xs: 4px;
$grid-s: 8px;
$grid-m: 16px;
$grid-l: 24px;
$grid-xl: 32px;
$grid-xxl: 40px;

//Annet
$border-radius: 25.5px; //For knapper med avrundede hjørner
$skygge: 0 2px 4px 0 rgba(0, 0, 0, 0.5);
