@import "variables";

@mixin shared_button_styles {
  border-radius: 8px;
  box-sizing: content-box;
  cursor: pointer;
  display: inline-block;
  font-size: 1.125rem; // 18px / 16px
  font-weight: 700;
  line-height: 28px;
  transition: background-color ease-in-out 0.15s;

  &:focus {
    outline: 4px solid $blaa_moerk;
    outline-offset: 2px;
  }

  &:hover {
    background-color: $groenn_hover;
  }

  &:active {
    background-color: $groenn_aktiv;
  }
}

.btn-primary {
  @include shared_button_styles;
  background-color: $groenn_moerk;
  border: none;
  color: white;
  padding: $grid-m $grid-l;

  &:visited {
    color: white;
  }
}

.btn-outline {
  @include shared_button_styles;
  background-color: white;
  border: 2px solid $groenn_moerk;
  color: $groenn_moerk;
  padding: 14px $grid-l;
  transition: background-color ease-in-out 0.15s, border-color ease-in-out 0.15s, color ease-in-out 0.15s;

  &:hover {
    border-color: $groenn_hover;
    color: white;
  }

  &:active {
    border-color: $groenn_aktiv;
    color: white;
  }
}

@mixin shared_link_styles {
  color: $groenn_moerk;
  font-size: 1.125rem; // 18px / 16px
  line-height: 28px;
  text-decoration-skip-ink: none;
  text-decoration-thickness: 1px;
  text-underline-offset: 1px;

  &:focus {
    outline: 4px solid $blaa_moerk;
    outline-offset: 2px
  }

  &:hover {
    color: $groenn_aktiv;
  }
}

// Ønsker ikke default formatering av alle <a>, da dette vil føre til mye overrides
.formatted-text a {
  @include shared_link_styles;

  &:visited {
    color: $blaa_moerk;
  }
}

.btn-link {
  @include shared_link_styles;
  background-color: transparent;
  border: none;
  box-sizing: border-box;
  cursor: pointer;
  font-weight: 700;
  text-decoration: none;
  padding: $grid-s;

  &:hover,
  &:focus {
    text-decoration: underline;
  }

  &:active {
    outline: none;
  }
}


@media (max-width: 540px) {
  a, button.link {
    font-size: 1rem;
  }
}

