@import "variables";

a, button.link {
  color: $blaa_hoved;
  border-bottom: 1px solid $blaa_hoved;
  font-size: 1.125rem; // 18px / 16px
  line-height: 1.5;
  text-decoration: none;
  padding: 2px 0;
  box-sizing: border-box;
  outline: 0;

  & i.material-icons {
    font-size: 20px;
  }

  &:visited {
    color: $lilla;
    border-color: $lilla;
  }

  &:hover, &:focus {
    background-color: $blaa_hoved;
    border-color: $blaa_hoved;
    box-shadow: $blaa_hoved -5px 0px 0px 0px, $blaa_hoved 5px 0px 0px 0px;
    color: #ffffff;
  }
}

button.link {
  background-color: transparent;
  border: none;
  font-weight: bold;

  &.link-regular {
    border-bottom: 1px solid $blaa_hoved;
    font-weight: normal;
    padding: 0;

    &:disabled {
      border-bottom: 1px solid $graa_hoved;
    }
  }

  &:disabled {
    background-color: transparent;
    color: $graa_hoved;

    &:hover {
      background-color: transparent;
      box-shadow: none;
      color: $graa_hoved;
    }
  }
}

.btn-primary {
  background-color: $groenn_hoved;
  border: none;
  border-radius: 2px;
  color: white;
  display: inline-block;
  font-size: 1.125rem; // 20px / 16px
  min-height: 44px;
  line-height: 28px;
  padding: $grid-s $grid-l;
  text-transform: uppercase;
  transition: background-color 0.4s;

  &:hover, &:focus {
    background-color: $groenn_moerk;
    box-shadow: none;
  }
  &:active {
    background-color: $groenn_moerk_2;
    box-shadow: $skygge;
  }
  &:visited {
    color: white;
  }
}

@mixin rounded_buttons {
  border-radius: $border-radius;
  font-size: 1.125rem; // 18px / 16px
  min-height: 40px;
  padding: $grid-s $grid-m;
  transition: background-color 0.4s, color 0.4s;

  &:active {
    box-shadow: $skygge;
  }

  & i {
    font-size: 20px;
  }
}

button.secondary {
  @include rounded_buttons;

  background-color: white;
  color: $blaa_hoved;
  border: 2px solid $blaa_hoved;

  &:hover, &:focus {
    color: white;
    background-color: $blaa_hoved;
  }

  &:active {
    background-color: $blaa_moerk;
  }
}

button.choice {
  @include rounded_buttons;

  color: $groenn_moerk;
  background-color: white;
  border: 2px solid $groenn_moerk;

  &:hover, &:focus {
    color: white;
    background-color: $groenn_moerk;
  }

  &:active {
    background-color: $groenn_moerk_2;
  }
}

button {
  cursor: pointer;

  &:focus {
    outline: 0;
  }

  &:disabled {
    color: $graa_tekst_knapp;
    background-color: $graa_bakgrunn_knapp;
    border-color: transparent;

    &:hover {
      color: $graa_tekst_knapp;
      background-color: $graa_bakgrunn_knapp;
      border-color: transparent;
      cursor: default;
    }

    &:active {
      box-shadow: none;
    }
  }
}

.vertical-align {
  vertical-align: top;
}

button.hjelpetekst-knapp {
  color: $blaa_hoved;
  background-color: transparent;
  border: none;
  line-height: 24px;
  padding: 0;

  .material-icons {
    font-size: 24px;
    vertical-align: bottom;
  }
  &:disabled,
  &:disabled:hover {
    color: $graa_hoved;
    border-color: $graa_hoved;
    background: transparent;
  }
}

@media (max-width: 540px) {
  a, button.link {
    font-size: 1rem;
  }
}

