@import "variables";

// Margin top and bottom
.my-none {
  margin-top: 0 !important;
  margin-bottom: 0 !important;
}
.my-xs {
  margin-top: $grid-xs !important;
  margin-bottom: $grid-xs !important;
}
.my-s {
  margin-top: $grid-s !important;
  margin-bottom: $grid-s !important;
}
.my-m {
   margin-top: $grid-m !important;
   margin-bottom: $grid-m !important;
 }
.my-l {
  margin-top: $grid-l !important;
  margin-bottom: $grid-l !important;
}
.my-xl {
  margin-top: $grid-xl !important;
  margin-bottom: $grid-xl !important;
}

// Margin right and left
.mx-none {
  margin-right: 0 !important;
  margin-left: 0 !important;
}
.mx-xs {
  margin-right: $grid-xs !important;
  margin-left: $grid-xs !important;
}
.mx-s {
  margin-right: $grid-s !important;
  margin-left: $grid-s !important;
}
.mx-m {
  margin-right: $grid-m !important;
  margin-left: $grid-m !important;
}
.mx-l {
  margin-right: $grid-l !important;
  margin-left: $grid-l !important;
}
.mx-xl {
  margin-right: $grid-xl !important;
  margin-left: $grid-xl !important;
}

//Margin-left
.ml-xs {
  margin-left: $grid-xs;
}
.ml-s {
  margin-left: $grid-s;
}
.ml-m {
  margin-left: $grid-m;
}
.ml-l {
  margin-left: $grid-l;
}
.ml-xl {
  margin-left: $grid-xl;
}

//Margin-right
.mr-xs {
  margin-right: $grid-xs;
}
.mr-s {
  margin-right: $grid-s;
}
.mr-m {
  margin-right: $grid-m;
}
.mr-l {
  margin-right: $grid-l;
}
.mr-xl {
  margin-right: $grid-xl;
}
.mr-xxl {
  margin-right: $grid-xxl;
}

//Margin-top
.mt-none {
  margin-top: 0;
}
.mt-xs {
  margin-top: $grid-xs;
}
.mt-s {
  margin-top: $grid-s;
}
.mt-m {
  margin-top: $grid-m;
}
.mt-l {
  margin-top: $grid-l;
}
.mt-xl {
  margin-top: $grid-xl;
}
.mt-xxl {
  margin-top: $grid-xxl;
}
.mt-xxxl {
  margin-top: 3em;
}

//Margin-bottom
.mb-none {
  margin-bottom: 0;
}
.mb-xs {
  margin-bottom: $grid-xs;
}
.mb-s {
  margin-bottom: $grid-s;
}
.mb-m {
  margin-bottom: $grid-m;
}
.mb-l{
  margin-bottom: $grid-l;
}
.mb-xl {
  margin-bottom: $grid-xl;
}
.mb-xxl {
  margin-bottom: $grid-xxl;
}
