@import "variables";

select {
  border: 1px solid #000;
  border-radius: 3px;
  box-sizing: border-box;
  padding: 8px 44px 8px 16px; //Høyre padding er større for å få plass til ikon
  margin: 0;
  width: 100%;
  height: 44px;

  -webkit-appearance: none;
  appearance: none;

  &:hover {
    border-color: $blaa_hoved;
  }

  &:active, &:focus {
    border-color: $blaa_hoved;
    box-shadow: 0 0 0 2px $blaa_hoved;
    outline: 0;
  }

  &:disabled {
    background-color: $graa_lys;
    border-color: #595959;
    color: #545454;
    &:active, &:focus {
      box-shadow: none;
    }
  }
}

.select-wrapper {
  position: relative;
  &.invalid {
    select {
      border-color: $advarsel-hoved;
      &:active, &:focus {
        box-shadow: 0 0 0 2px $advarsel-hoved;
      }
    }
    &::after {
      color: $advarsel-hoved;
    }
  }
}

.select-wrapper::after {
  //noinspection CssNoGenericFontName
  font-family: "Material Icons";
  content: "\e5cf";
  font-size: $grid-l;
  top: 10px;
  right: 10px;
  position: absolute;
  pointer-events: none;
}
