.kvib-button {
  font-family: "Mulish", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 28px;
  border-radius: 8px;
  color: var(--white);
  border: 0;
  outline: transparent solid 2px;
  outline-offset: 2px;
  display: inline-flex;
  appearance: none;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  gap: 4px;
  text-decoration: none;
}

.kvib-button--primary.kvib-button--green {
  background-color: var(--green_dark);
}

.kvib-button--primary.kvib-button--green:hover,
.kvib-button--secondary.kvib-button--green:hover {
  background-color: var(--green);
  box-shadow: none;
  color: var(--white);
}

.kvib-button--primary.kvib-button--green:active,
.kvib-button--secondary.kvib-button--green:active {
  color: var(--white);
  background-color: var(--green_active);
  box-shadow: var(--blue_dark_button) 0 0 0 2px inset, var(--blue_dark_button) 0 0 0 2px inset,
    currentcolor 0 0 0 4px inset;
}

.kvib-button--primary.kvib-button--green:focus-visible {
  color: var(--white);
  background-color: var(--green_dark);
  box-shadow: var(--blue_dark_button) 0 0 0 2px inset, var(--blue_dark_button) 0 0 0 2px inset,
    currentcolor 0 0 0 4px inset;
}

.kvib-button--secondary.kvib-button--green:focus-visible {
  color: var(--green_dark);
  background-color: var(--white);
  box-shadow: var(--blue_dark_button) 0 0 0 2px inset, var(--white) 0 0 0 4px inset, currentcolor 0 0 0 5px inset;
}

.kvib-button--primary.kvib-button--blue {
  background-color: var(--blue);
}

.kvib-button--primary.kvib-button--blue:hover,
.kvib-button--secondary.kvib-button--blue:hover {
  background-color: var(--blue_hover);
  box-shadow: none;
  color: var(--white);
}

.kvib-button--primary.kvib-button--blue:active,
.kvib-button--secondary.kvib-button--blue:active {
  color: var(--white);
  background-color: var(--blue_dark_button);
  box-shadow: var(--blue_dark_button) 0 0 0 2px inset, var(--blue_dark_button) 0 0 0 2px inset,
    currentcolor 0 0 0 4px inset;
}

.kvib-button--primary.kvib-button--blue:focus-visible {
  color: var(--white);
  background-color: var(--blue);
  box-shadow: var(--blue_dark_button) 0 0 0 2px inset, var(--blue_dark_button) 0 0 0 2px inset,
    currentcolor 0 0 0 4px inset;
}

.kvib-button--secondary.kvib-button--blue:focus-visible {
  color: var(--blue);
  background-color: var(--white);
  box-shadow: var(--blue_dark_button) 0 0 0 2px inset, var(--white) 0 0 0 4px inset, currentcolor 0 0 0 5px inset;
}

.kvib-button--primary.kvib-button--green:disabled,
.kvib-button--primary.kvib-button--blue:disabled,
.kvib-button--secondary.kvib-button--green:disabled,
.kvib-button--secondary.kvib-button--blue:disabled {
  color: var(--gray_dark);
  background-color: var(--gray_light);
  box-shadow: var(--gray_dark) 0 0 0 1px inset;
  cursor: not-allowed;
}

.kvib-button--secondary {
  background-color: var(--white);
}

.kvib-button--secondary.kvib-button--green {
  color: var(--green_dark);
  box-shadow: var(--green_dark) 0 0 0 1px inset;
}

.kvib-button--secondary.kvib-button--blue {
  color: var(--blue);
  box-shadow: var(--blue) 0 0 0 1px inset;
}

.kvib-button--tertiary {
  background-color: transparent;
}

.kvib-button--tertiary .kvib-button__text {
  text-decoration-line: underline;
}

.kvib-button--tertiary.kvib-button--green {
  color: var(--green_dark);
}

.kvib-button--tertiary.kvib-button--green:hover {
  color: var(--green);
}

.kvib-button--tertiary.kvib-button--blue {
  color: var(--blue);
}

.kvib-button--tertiary.kvib-button--blue:hover {
  color: var(--blue_dark_button);
}

.kvib-button--tertiary.kvib-button--green:active,
.kvib-button--tertiary.kvib-button--green:focus-visible,
.kvib-button--tertiary.kvib-button--blue:active,
.kvib-button--tertiary.kvib-button--blue:focus-visible {
  box-shadow: var(--blue_dark_button) 0 0 0 2px inset;
}

.kvib-button--tertiary.kvib-button--green:disabled,
.kvib-button--tertiary.kvib-button--blue:disabled {
  color: var(--gray_dark);
  box-shadow: none;
  cursor: not-allowed;
}

.kvib-button__icon {
  display: flex;
  width: 24px;
  height: 24px;
}

.kvib-button--md {
  font-size: 18px;
  line-height: 28px;
  padding: 16px 24px;
  min-width: 106px;
  min-height: 60px;
}

.kvib-button--sm {
  font-size: 16px;
  line-height: 24px;
  padding: 10px 24px;
  min-width: 100px;
  min-height: 44px;
}
