.kv-switch--xs {
  position: relative;
  display: inline-block;
  height: 8px;
  width: 24px;
  /* Blaa_Lys */
  background: var(--blue_light);
  /* Blaa_Moerk */
  border: 1px solid var(--blue_dark_button);
  border-radius: 8px;
    margin: 0;
}

.kv-switch--xs input {
  opacity: 0;
  width: 0;
  height: 0;
}

.kv-toggle_switch--xs {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  -webkit-transition: 0.4s;
  transition: 0.4s;
  background-color: var(--blue_light);
}

.kv-toggle_switch--xs:before {
  position: absolute;
  content: "";
  width: 12px;
  height: 12px;
  left: -8px;
  top: -3px;
  -webkit-transition: 0.4s;
  transition: 0.4s;
  background: var(--blue_dark_button);
}

input:checked + .kv-toggle_switch--xs {
  background-color: var(--blue);
}

input:focus + .kv-toggle_switch--xs {
  box-shadow: 0 0 1px var(--blue_hover);
}

input:checked + .kv-toggle_switch--xs:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.kv-toggle_switch--xs.round {
  border-radius: 34px;
}

.kv-toggle_switch--xs.round:before {
  border-radius: 50%;
}

.kv-switch--l {
  position: relative;
  display: inline-block;
  height: 12px;
  width: 32px;
  /* Blaa_Lys */
  background-color: var(--blue_light);
  /* Blaa_Moerk */
  border: 1px solid var(--blue_dark_button);
  border-radius: 8px;
}

.kv-switch--l input {
  opacity: 0;
  width: 0;
  height: 0;
}

.kv-toggle_switch--l {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  -webkit-transition: 0.4s;
  transition: 0.4s;
  background-color: var(--blue_light);
}

.kv-toggle_switch--l:before {
  position: absolute;
  content: "";
  width: 16px;
  height: 16px;
  left: -6px;
  top: -3px;
  -webkit-transition: 0.4s;
  transition: 0.4s;
  background-color: var(--blue_dark_button);
}

input:checked + .kv-toggle_switch--l {
  background-color: var(--blue);
}

input:focus + .kv-toggle_switch--l {
  box-shadow: 0 0 1px var(--blue_hover);
}

input:checked + .kv-toggle_switch--l:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.kv-toggle_switch--l.round {
  border-radius: 34px;
}

.kv-toggle_switch--l.round:before {
  border-radius: 50%;
}
