.kv-expandable .kv-expandable__title {
    width: 100%;
    padding-top: 0.5rem;
    padding-right: 2rem;
    border-top: 1px solid black;
    position: relative;
    cursor: pointer;
    font-family: 'Mulish', sans-serif;
    font-weight: bold;
    list-style: none;
}

.kv-expandable .kv-expandable__title {
    outline: 0;
}

.kv-expandable p {
    font-size: 0.95rem;
    margin: 0 0 1rem;
    padding-top: 1rem;
}

.kv-expandable__title:focus {
    outline: var(--blue_dark) 2px solid;
}

.kv-expandable__title::before,
.kv-expandable__title::after {
    width: 0.75em;
    height: 2px;
    position: absolute;
    top: 50%;
    right: 0;
    content: '';
    background-color: black;
    transform: translateY(-50%);
    transition: transform 0.2s ease-in-out;
}

.kv-expandable__title:hover {
    background-color: var(--gray_light);
}

.kv-expandable__title::after {
    transform: translateY(-50%) rotate(90deg);
}

[open] .kv-expandable__title::after {
    transform: translateY(-50%) rotate(180deg);
}

.kv-expandable .kv-expandable__title::-webkit-details-marker {
    display: none;
}
