/* Custom zoom knapp til historiske kart 

MERK! Denne er ikke UU-godkjent eller sjekket av Wanni*/

/* Endrer størrelsen på en ordinær knapp, slik at det er mer tilpasset til å kun ha ikon i knappen. */
/* Endrer navn til å reflektere bruken. Flyttes til css for knapper når den er godkjent. */
.kv-button--icon-only{
    height: 2rem;
    width: 2rem;
    margin: 0.063rem;
}

/*Farhad: lagt til denne linjen pga. feil med icon alignment på Zoom knapper.*/
.kv-button--icon-only span {
    position: relative;
    left: -0.2rem;
}
