
.heroBanner {
  background-color: var(--white);
  color: var(--black);
  padding: 4rem 0;
  text-align: left;
  position: relative;
  overflow: hidden;
}

@media screen and (max-width: 996px) {
  .heroBanner {
    padding: 2rem;
  }
}

.buttons {
  display: flex;
  align-items: center;
  justify-content: center;
}

.button__link {
  text-decoration: none;
  color: var(--green);
}

.button__link:hover {
  color: var(--green_active);
  text-decoration: underline;
}

.heroBanner p {
  width: 654px;
  height: 127px;
}
