/*css for styling av typografi-komponentene til dokumentasjonen.*/
@import url('https://fonts.googleapis.com/css2?family=Mulish:wght@700&display=swap');

table {
    text-align:left;

  }
  table th {
    background-color: var(--green_light);
    }


div.typographyCard{

  padding: 10px;
  border: 4px solid var(--green_light);
  margin: 0;
  display:flex;
  flex-direction: column;
}