/*css for nedtrekksmeny*/

.label--dropdown{
    color: var(--gray);
}

.dropdown{
    display:block;
    width:100%;
    -moz-padding-start:calc(0.75rem - 0.188rem);
    font-family: inherit;
    font-size:0.875rem;
    font-weight:400;
    background-color: var(--white);
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16'%3e%3cpath fill='none' stroke='%23213060' stroke-linecap='butt' stroke-linejoin='square' stroke-width='4' d='m2 5 6 6 6-6'/%3e%3c/svg%3e");
    background-repeat:no-repeat;
    background-position:right .75rem center;
    background-size:0.75rem 1rem;
    border: 0.188rem solid var(--dark_blue_button);
    border-radius:.25rem;

    -webkit-appearance:none;
    -moz-appearance:none;
    appearance:none;

    padding: 0.5rem;
    gap: 1rem;
    height: 2.5rem;
}


.dropdown:focus{
    border-color: var(--blue_dark);
    box-shadow: 0 0 0 0.125rem var(--blue_hover);
}
.dropdown:focus-visible {
    outline: var(--blue_dark) solid;
}


/*styling av elementene i nedtrekksmenyen*/
.dropdown option{
    font-size: 0.875rem;
    height: 3rem;
 }

.dropdown option:nth-child(even){
    background-color: var(--blue_light);
}

/*!*W3Schools Custom Select*!*/

/*the container must be positioned relative:*/
.custom-select {
    position: relative;
    font-family: Mulish;
}

.custom-select select {
    display: none; /*hide original SELECT element:*/
}

.select-selected {
    background-color: var(--white);
}

/*style the arrow inside the select element:*/
.select-selected:after {
    position: absolute;
    content: "";
    top: 14px;
    right: 10px;
    width: 0;
    height: 0;
    border: 6px solid transparent;
    border-color: var(--black) transparent transparent transparent;
}

/*point the arrow upwards when the select box is open (active):*/
.select-selected.select-arrow-active:after {
    border-color: transparent transparent var(--black) transparent;
    top: 7px;
}

/*style the items (options), including the selected item:*/
.select-items div,.select-selected {
    color: var(--black);
    padding: 8px 16px;
    border: 1px solid transparent;
    border-color: transparent transparent rgba(0, 0, 0, 0.1) transparent;
    cursor: pointer;
    user-select: none;
}

/*style items (options):*/
.select-items:nth-child(even) {
    position: absolute;
    background-color: var(--blue_light);
    top: 100%;
    left: 0;
    right: 0;
    z-index: 99;
}

/*hide the items when the select box is closed:*/
.select-hide {
    display: none;
}

.select-items div:hover, .same-as-selected {
    background-color: rgba(0, 0, 0, 0.1);
}