:root {

    /*groenn*/
    --green-100: #05502a;
    --green-80: #156630;
    --green-50: #1a833b;
    --green-20: #d0ecd6;

    /*Blaa*/
    --blue_dark: #175092;

    --blue-100: #213060;
    --blue-50: #1a589f;
    --blue-30: #439ccd;
    --blue-10: #e4f1f8;

    /*roed og rosa*/
    --red-100: #a32f00;
    --red-50: #d04a14;
    --red-10: #f7e6eb;

    /*oransje og gul*/
    --yellow-50: #ffdd9d;
    --yellow-20: #fcebcd;
    --yellow-10: #fcf1e8;

    /*svart og hvit*/
    --black-100: #222222;
    --white-00: #ffffff;

    /*graa*/
    --black-80: #505050;
    --gray: #707070; /*TODO: finne ut av hvorfor det er to "black-100"*/
    --gray_light: #f5f2f2;
}

/* farger */
