:root{
    --icon-height-xs:1.25rem;
    --icon-height-sml:1.5rem;
    --icon-fontSize-xs:1.25rem;
    --icon-fontSize-sml:1.5rem;
}

.material-symbols-outlined {
    vertical-align: text-bottom;
}

 .material-symbols-outlined--filled {
     font-variation-settings:
             'FILL' 1,
             'wght' 400,
             'GRAD' 0,
             'opsz' 48
 }
