/*custom.css brukes til å overkjøre docusaurus sine egne variabler og eget design.
https://docusaurus.io/docs/styling-layout*/


@import url('https://fonts.googleapis.com/css2?family=Mulish:wght@700&display=swap');
@import '/src/css/main.css';
@import './palette.css';
@import './uu.css';


/*overkjøre definerte variabler fra docusaurus*/
:root {
    --ifm-heading-font-family:'Mulish', sans-serif; 
    --ifm-font-family-base:'Mulish', sans-serif;
    --ifm-heading-font-weight:700;
    --ifm-color-primary: var(--blaa_moerk);
}


h1, h2, h3, h4, h5, h6 {
    color: var(--ifm-heading-color);
    font-family: var(--ifm-font-family-base);
    font-weight: var(--ifm-heading-font-weight);
}

/*kun linker som blir understreket*/
p a {
    text-decoration: underline;
}


/*sette bredde på slider-gif*/
img[alt=sliderGif] { width: 70%;}

img[alt=documenting_example].img_node_modules-\@docusaurus-theme-classic-lib-theme-MDXComponents-Img-styles-module {
    height:65%;
    width: 65%;
}
