/*custom.css brukes til å overkjøre docusaurus sine egne variabler og eget design.
https://docusaurus.io/docs/styling-layout*/


@import url('https://fonts.googleapis.com/css2?family=Mulish:wght@700&display=swap');
@import '/src/css/main.css';
@import './palette.css';
@import './uu.css';


/*overkjøre definerte variabler fra docusaurus*/
:root {
    --ifm-heading-font-family:'Mulish', sans-serif; 
    --ifm-font-family-base:'Mulish', sans-serif;
    --ifm-heading-font-weight:700;
    --ifm-color-primary: var(--blaa_moerk);
}


h1, h2, h3, h4, h5, h6 {
    color: var(--ifm-heading-color);
    font-family: var(--ifm-font-family-base);
    font-weight: var(--ifm-heading-font-weight);
}

/*kun linker som blir understreket*/
p a {
    text-decoration: underline;
}



.icon-section{
    background-color: var(--hvit);
    margin: 2rem;
    padding: 1rem;
    border-radius: 0.5rem;
    width: 82%;
}

.icon-section--container{
    width: 7rem;
    height: 4rem;
    background-color: var(--graa_lys);
    
    /* Fra icons.css icon-container */
    box-sizing: border-box;
    /* gap: 15px; */
    display: flex;
    flex-direction: column;
    align-items: center;
}

.icon-section--text{
    /* vertical-align: bottom; */
    font-size: 0.8rem;
    font-family: 'Mulish';
    word-wrap: normal;
    text-align: center;
}

.text-center{
    text-align: center;
}

.icon-doc-center{
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 1.25rem;
}

.icon-grid{
    grid-template-columns: repeat(auto-fit, 7rem);
    padding-bottom: 1rem;
    column-gap: 1rem;
    row-gap: 1.5rem;
    justify-content: flex-start;
    align-content: flex-start;
    display: grid;
    box-sizing: inherit;
}
/*sette bredde på slider-gif*/
img[alt=sliderGif] { width: 70%;}

img[alt=documenting_example].img_node_modules-\@docusaurus-theme-classic-lib-theme-MDXComponents-Img-styles-module {
    height:65%;
    width: 65%;
}
