$blaa: #1A589F;
$blaa-lys: #E4F1F8;

$groenn: #249446;
$groenn-hover: #1A833B;
$groenn-aktiv: #18632E;
$groenn-lys: #E9F4EC;

$advarsel-roed: #B00C3B;
$advarsel-roed-lys: #F7E6EB;

$advarsel-oransje: #E7751D;
$advarsel-oransje-lys: #FCF1E8;
