//Blå
$blaa_hoved: #1A589F;
$blaa_lysBakgrunn: #E4F1F8;
$blaa_moerk: #175092;

//Grønn
$groenn_hoved: #249446;

//Grå
$graa_hoved: #595959;
$graa_lys: #f7f7f7;
$graa_moerk: #545454;

//Rød
$advarsel-hoved: #B00C3B;
$advarsel-lys: #FCF1E8;
