@import "variables";

a {
  color: $blaa_hoved;
  border-bottom: 1px solid $blaa_hoved;
  line-height: 1.5;
  text-decoration: none;
  padding: $grid-xs $grid-s;
  box-sizing: border-box;

  & i.material-icons {
    font-size: 20px;
    margin-left: $grid-s;
  }

  &:hover {
    background-color: $blaa_lysBakgrunn;
    padding: $grid-xs $grid-s - 1px;
    border: 1px solid $blaa_hoved;
  }

  &:focus {
    background-color: $blaa_lysBakgrunn;
    padding: $grid-xs - 1px $grid-s - 2px;
    border: 2px solid $blaa_hoved;
  }

  &:visited {
    color: $lilla;
    border-color: $lilla;
  }
}

button.link {
  background-color: white;
  color: $blaa_hoved;
  border: none;
  font-weight: bold;
  transition: color 0.4s;
  padding: $grid-xs $grid-s;

  &:hover {
    background-color: $blaa_lysBakgrunn;
    padding: $grid-xs - 1px $grid-s - 1px;
    border: 1px solid $blaa_hoved;
  }

  &:focus {
    background-color: $blaa_lysBakgrunn;
    padding: $grid-xs - 2px $grid-s - 2px;
    border: 2px solid $blaa_hoved;
  }

  &:disabled {
    background-color: transparent;
    color: $graa_hoved;
    &:hover {
      background-color: transparent;
      color: $graa_hoved;
    }
  }

  & i {
    font-size: 20px;
    vertical-align: bottom;
    margin-right: $grid-s;
  }
}


button.primary {
  background-color: $groenn_hoved;
  border: none;
  color: white;
  font-size: 18px;
  line-height: 28px;
  padding: $grid-s $grid-m;
  transition: background-color 0.4s;

  &:hover, &:focus {
    background-color: $groenn_moerk;
  }

  &:active {
    background-color: $groenn_moerk_2;
    box-shadow: $skygge;
  }
}

@mixin rounded_buttons{
  border-radius: $border-radius;
  padding: $grid-s $grid-m;
  transition: background-color 0.4s, color 0.4s;

  &:active {
    box-shadow: $skygge;
  }

  & i {
    font-size: 20px;
  }
}

button.secondary {
  @include rounded_buttons;

  background-color: white;
  color: $blaa_hoved;
  border: 2px solid $blaa_hoved;

  &:hover, &:focus {
    color: white;
    background-color: $blaa_hoved;
  }

  &:active {
    background-color: $blaa_moerk;
  }
}

button.choice {
  @include rounded_buttons;

  color: $groenn_moerk;
  background-color: white;
  border: 2px solid $groenn_moerk;

  &:hover, &:focus {
    color: white;
    background-color: $groenn_moerk;
  }

  &:active {
    background-color: $groenn_moerk_2;
  }
}

button{
  cursor: pointer;

  &:disabled {
    color: $graa_tekst_knapp;
    background-color: $graa_bakgrunn_knapp;
    border: none;


    &:hover {
      color: $graa_tekst_knapp;
      background-color: $graa_bakgrunn_knapp;
      border: none;
      cursor: default;
    }
    &:active {
      box-shadow: none;
    }
  }
}

.vertical-align {
  vertical-align: top;
}

