@import "_variables";

body {
  margin: auto;
  max-width: 820px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 16px;
}

nav {
  background-color: $blaa_hoved;
  padding: 1em;
  display: grid;
  grid-template-columns: auto auto auto auto auto;
  justify-content: space-evenly;
  
  & a {
    color:white;
  }
}

.current {
  font-weight: bold;
}

h1 {
  font-size: 2em;
}

h2 {
  font-size: 1.5em;
}

a {
  color: $blaa_hoved;
}

figure {
  margin: .85em 0;
}

img {
  border: 1px solid darkgrey;
  width: fit-content;
  padding: .3em;
}

figcaption {
  font-size: .85em;
}

