@import "KVIB-scss/index";
  
  label {
    font-size: 14px;
    line-height: 20px;
  }
  
  .mat-form-field-appearance-outline .mat-form-field-infix {
    border-top: 0 solid transparent;
  }
  
  .material-icons {
    vertical-align: text-bottom;
    margin-right: $grid-s;
  }
  
  .light-blue {
    background-color: #e4f1f8;
  }
