/* Main container outside MDX files - removing border */
div[role="main"] > :first-child {
  box-shadow: none;
  border-radius: 0 !important;
}

/* Container for MDX files */
.sbdocs-wrapper {
  display: flex;
  align-items: flex-start;
}

.sbdocs-content {
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.docblock-source {
  margin: 0 !important;
}

.ComponentsBanner {
  border-bottom-left-radius: 0 !important;
  border-bottom-right-radius: 0 !important;
}

.chakra-card {
  transition: box-shadow 0.2s ease;
}

.material-symbols-rounded {
  font-family: "Material Symbols Rounded" !important;
}

/* Canvas */
.sbdocs.sbdocs-preview.sb-unstyled {
  box-shadow: none !important;
}

/* Controls */
.docblock-argstable-body {
  filter: none !important;
}

/* Source */
.docblock-source {
  box-shadow: none !important;
  border-radius: 0 !important;
}

/* Common properties for both Firefox and Chrome */
input[type="range"]::-moz-range-thumb {
  background: #1a833b;
}

input[type="range"]::-webkit-slider-thumb {
  background: #1a833b;
}

/* Firefox specific hover effect */
input[type="range"]::-moz-range-thumb:hover {
  background: #156630;
}

/* Chrome specific hover effect */
input[type="range"]::-webkit-slider-thumb:hover {
  background: #156630;
}

/* Firefox specific hover effect */
input[type="range"]::-moz-range-thumb:active {
  background: #156630;
}

/* Chrome specific hover effect */
input[type="range"]::-webkit-slider-thumb:active {
  background: #156630;
}

/* Table of contents */
.is-collapsible {
  max-height: 1000px;
  transition: all 300ms ease-in-out;
}
.is-collapsed {
  max-height: 0;
  overflow: hidden;
}

#downshift-0-menu {
  margin-left: -15px !important; /* storybook setter -20px her, det er alt for mye */
  margin-right: -20px !important; /* storybook setter -20px her, det er alt for mye */
}

.toc-wrapper {
  padding: 0 12px;
}

/* Table of contents with no content */
.toc-no-children {
  display: none;
}

/* Headings for sections in docs */
.docs-heading h2 {
  border: none;
  padding: 0;
}

/**
 * Remove banner-img if window width is 770px or less
 */
@media all and (max-width: 770px) {
  .frontpage-banner {
    background-image: none !important;
  }
}

 .fullwidth > :first-child > :first-child {
  display: inline-table;
  width: 100%;
}
/*
.sidebar-item[data-parent-id]:not([data-parent-id="komponenter"]):not([data-parent-id="bidra"]:not([data-selected="true"])):not([data-parent-id="kom-i-gang"]) {
  border-radius: none;
  border-radius: 0;
  border: 0;
  border-left: 1px solid #96A1AA;
  background-color: #E9F8EB;
}

.sidebar-item[data-selected="true"] {
  background-color: #156630 !important;
}

 */
/* .sidebar-item:not([data-parent-id="komponenter"]) > a {
  margin-left: -18px;
} */

/* .sidebar-item[data-nodetype="document"] svg,
.sidebar-item[data-nodetype="story"] svg {
  display: none;
} */

.sidebar-item svg {
  color: #156630;
}

