/* Main container outside MDX files - removing border */
div[role="main"] > :first-child {
  box-shadow: none;
  border-radius: 0 !important;
}

/* Container for MDX files */
.sbdocs.sbdocs-wrapper {
  background: linear-gradient(to bottom right, #e9f4ec 0%, #ffffff 20%);
  background-attachment: fixed;
}

/* Sidebar */
/* .container.sidebar-container {
} */

/* Sidebar item */
.sidebar-item {
  border-radius: 2px !important;
  margin: 0 5px !important;
  padding-top: 5px !important;
  padding-bottom: 5px !important;
  display: flex !important;
  align-items: center !important;
}

button.sidebcar-item.sidebar-item {
  height: 30px !important;
}

/* Folder when open */
.sidebar-item.sidebar-item:focus {
  background: #e9f4ec !important;
}

/* Icons on sidebar */
.sidebar-item.sidebar-item svg {
  color: #156630;
}

/* Sidebar item on hover */
.sidebar-item.sidebar-item[data-selected="false"]:hover,
.sidebar-item.sidebar-item[data-nodetype="group"]:hover,
.sidebar-item.sidebar-item[data-nodetype="component"]:hover {
  background: #e9f4ec !important;
}

/* Color for searched term when searching */
.search-result-item .search-result-item--label mark {
  color: #2472c4;
}

/* Icons when searching */
.search-result-item svg {
  color: #156630;
}

/* Canvas */
.sbdocs.sbdocs-preview.sb-unstyled {
  box-shadow: none !important;
}

/* Controls */
.docblock-argstable-body {
  filter: none !important;
}

/* Source */
.docblock-source {
  box-shadow: none !important;
  border-radius: 0 !important;
}

/* Common properties for both Firefox and Chrome */
input[type="range"]::-moz-range-thumb {
  background: #1a833b;
}

input[type="range"]::-webkit-slider-thumb {
  background: #1a833b;
}

/* Firefox specific hover effect */
input[type="range"]::-moz-range-thumb:hover {
  background: #156630;
}

/* Chrome specific hover effect */
input[type="range"]::-webkit-slider-thumb:hover {
  background: #156630;
}

/* Firefox specific hover effect */
input[type="range"]::-moz-range-thumb:active {
  background: #156630;
}

/* Chrome specific hover effect */
input[type="range"]::-webkit-slider-thumb:active {
  background: #156630;
}
