/* Main container outside MDX files - removing border */
div[role="main"] > :first-child {
  box-shadow: none;
  border-radius: 0 !important;
}

/* Container for MDX files */
.sbdocs.sbdocs-wrapper {
  padding: 20px !important;
}

.docblock-source {
  margin: 0 !important;
}

#storybook-explorer-searchfield {
  border-radius: 4px !important;
}

.ComponentsBanner {
  border-bottom-left-radius: 0 !important;
  border-bottom-right-radius: 0 !important;
}

.chakra-card {
  transition: box-shadow 0.2s ease;
}

/* Sidebar */
/* .container.sidebar-container {
} */

/* Sidebar item */
.sidebar-item {
  border-radius: 4px !important;
  margin: 0 auto !important;
  padding-top: 0 !important;
  padding-bottom: 0 !important;
  display: flex !important;
  align-items: center !important;
  width: 100% !important;
  font-size: 14px !important;
  padding-right: 0 !important;
}

.sidebar-header > div > a {
  margin: 0 !important;
  padding: 0 !important;
}

.sidebar-header > a {
  box-shadow: initial !important;
}

.sidebar-header > div > button {
  color: #156630;
}

.sidebar-header > div > button:hover {
  background-color: #e9f4ec;
  color: #156630;
}

.sidebar-header > div > button:active,
.sidebar-header > div > button:focus {
  color: white;
  background-color: #156630;
}

.sidebar-item.sidebar-item a {
  font-size: 14px !important;
  font-style: normal !important;
  line-height: 28px !important;
  font-weight: 400 !important;
  padding: 0 12px !important;
}

button.sidebar-item.sidebar-item {
  margin: 0 auto !important;
  font-size: 14px !important;
  font-style: normal !important;
  line-height: 28px !important;
  font-weight: 400 !important;
  padding-top: 0px !important;
  padding-bottom: 0px !important;
  align-items: center;
}

/* Folder when open */
.sidebar-item.sidebar-item:focus {
  background: #e9f4ec !important;
}

/* Icons on sidebar */
.sidebar-item.sidebar-item svg {
  color: #156630;
}

/* Sidebar item on hover */
.sidebar-item.sidebar-item[data-selected="false"]:hover,
.sidebar-item.sidebar-item[data-nodetype="group"]:hover,
.sidebar-item.sidebar-item[data-nodetype="component"]:hover {
  background: #ece9e9 !important;
}

/* Sidebar subheadings */
.sidebar-subheading {
  color: black !important;
  margin: 6px auto !important;
  width: 100%;
  text-transform: none !important;
  font-style: normal !important;
  font-size: 14px !important;
  letter-spacing: normal !important;
  font-weight: 600 !important;
  line-height: 24px !important;
  padding: 0 !important;
}
.sidebar-container {
  padding: 16px 0 16px 12px !important;
}

.sidebar-container > div > div,
.sidebar-container > div > div > div,
.sidebar-container > div > div > div > div {
  display: block !important;
  padding: 0 8px 0 0;
}

.sidebar-subheading button {
  margin: 0 !important;
}

#storybook-explorer-menu,
#storybook-explorer-tree {
  width: 100% !important;
}

#storybook-explorer-tree > div > div,
#storybook-explorer-tree > div {
  width: 100% !important;
  margin: 0 !important;
}

.sidebar-subheading button {
  align-items: center;
}

.sidebar-subheading button span {
  margin-top: 0;
}

/* Color for searched term when searching */
.search-result-item .search-result-item--label mark {
  color: #2472c4;
}

/* Icons when searching */
.search-result-item svg {
  color: #156630;
}

/* Canvas */
.sbdocs.sbdocs-preview.sb-unstyled {
  box-shadow: none !important;
}

/* Controls */
.docblock-argstable-body {
  filter: none !important;
}

/* Source */
.docblock-source {
  box-shadow: none !important;
  border-radius: 0 !important;
}

/* Common properties for both Firefox and Chrome */
input[type="range"]::-moz-range-thumb {
  background: #1a833b;
}

input[type="range"]::-webkit-slider-thumb {
  background: #1a833b;
}

/* Firefox specific hover effect */
input[type="range"]::-moz-range-thumb:hover {
  background: #156630;
}

/* Chrome specific hover effect */
input[type="range"]::-webkit-slider-thumb:hover {
  background: #156630;
}

/* Firefox specific hover effect */
input[type="range"]::-moz-range-thumb:active {
  background: #156630;
}

/* Chrome specific hover effect */
input[type="range"]::-webkit-slider-thumb:active {
  background: #156630;
}

/* Table of contents */
.is-collapsible {
  max-height: 1000px;
  transition: all 300ms ease-in-out;
}
.is-collapsed {
  max-height: 0;
  overflow: hidden;
}

#downshift-0-menu {
  margin-left: -15px !important; /* storybook setter -20px her, det er alt for mye */
  margin-right: -20px !important; /* storybook setter -20px her, det er alt for mye */
}

/* Table of contents with no content */
.toc-no-children {
  display: none;
}

/* Headings for sections in docs */
.docs-heading h2 {
  border: none;
  padding: 0;
}

/**
 * Remove banner-img if window width is 770px or less 
 */
@media all and (max-width: 770px) {
  .frontpage-banner {
    background-image: none !important;
  }
}

.material-symbols-rounded {
  font-family: "Material Symbols Rounded" !important;
}