/* Main container outside MDX files - removing border */
div[role="main"] > :first-child {
  box-shadow: none;
  border-radius: 0 !important;
}

/* Container for MDX files */
.sbdocs.sbdocs-wrapper {
  background: linear-gradient(to bottom right, #e9f4ec 0%, #ffffff 20%);
  background-attachment: fixed;
}

#storybook-explorer-searchfield {
  border-radius: 4px !important;
}

/* Sidebar */
/* .container.sidebar-container {
} */

/* Sidebar item */
.sidebar-item {
  border-radius: 4px !important;
  margin: 0 auto !important;
  padding-top: 5px !important;
  padding-bottom: 5px !important;
  display: flex !important;
  align-items: center !important;
  width: 90% !important;
}

button.sidebar-item.sidebar-item {
  height: 32.5px !important;
  width: 90% !important;
  margin: 0 auto !important;
}

/* Folder when open */
.sidebar-item.sidebar-item:focus {
  background: #e9f4ec !important;
}

/* Icons on sidebar */
.sidebar-item.sidebar-item svg {
  color: #156630;
}

/* Sidebar item on hover */
.sidebar-item.sidebar-item[data-selected="false"]:hover,
.sidebar-item.sidebar-item[data-nodetype="group"]:hover,
.sidebar-item.sidebar-item[data-nodetype="component"]:hover {
  background: #e9f4ec !important;
}

/* Sidebar subheadings */
.sidebar-subheading {
  color: black !important;
  margin: auto;
  width: 90%;
  padding-top: 5px !important;
  padding-bottom: 5px !important;
}

/* Color for searched term when searching */
.search-result-item .search-result-item--label mark {
  color: #2472c4;
}

/* Icons when searching */
.search-result-item svg {
  color: #156630;
}

/* Canvas */
.sbdocs.sbdocs-preview.sb-unstyled {
  box-shadow: none !important;
}

/* Controls */
.docblock-argstable-body {
  filter: none !important;
}

/* Source */
.docblock-source {
  box-shadow: none !important;
  border-radius: 0 !important;
}

/* Common properties for both Firefox and Chrome */
input[type="range"]::-moz-range-thumb {
  background: #1a833b;
}

input[type="range"]::-webkit-slider-thumb {
  background: #1a833b;
}

/* Firefox specific hover effect */
input[type="range"]::-moz-range-thumb:hover {
  background: #156630;
}

/* Chrome specific hover effect */
input[type="range"]::-webkit-slider-thumb:hover {
  background: #156630;
}

/* Firefox specific hover effect */
input[type="range"]::-moz-range-thumb:active {
  background: #156630;
}

/* Chrome specific hover effect */
input[type="range"]::-webkit-slider-thumb:active {
  background: #156630;
}

/* Table of contents */
.is-collapsible {
  max-height: 1000px;
  transition: all 300ms ease-in-out;
}
.is-collapsed {
  max-height: 0;
  overflow: hidden;
}

/* Table of contents with no content */
.toc-no-children {
  display: none;
}
