.display__nav,
.display__nav * {
  box-sizing: border-box;
}

.display__nav {
  font-family: sans-serif;
  display: grid;
  gap: 15px;
  grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
}

.display__nav__item {
  height: 150px;
  position: relative;
}

.display__nav__container {
  position: relative;
  top: 20px;
  left: 20px;
}

.display__nav__desc {
  padding: 10px;
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  background: rgba(0, 0, 0, 0.4);
  color: var(--white);
}

.nav__box__text {
  width: 100%;
  padding: 10px;
  outline: none;
  border: 1px solid var(--gray_light);
  border-top: none;
}
