/* Color palette for dokumentasjon av farger.(Design Tokens -->colors.md)*/

.palette,
.palette * {
    box-sizing: border-box;
}

.palette {
    font-family: sans-serif;
    display: grid;
    gap: 15px;
    grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
}

.palette__color {
    height: 150px;
    position: relative;
}

.palette__desc {
    padding: 10px;
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    background: rgba(0, 0, 0, 0.4);
    color: var(--white-00);
}

.palette__text {
    width: 100%;
    padding: 10px;
    outline: none;
    border: 1px solid var(--black-10);
    border-top: none;
}

.palette--green-80 {
    background: var(--green-80);
}

.palette--green-100 {
    background: var(--green-100);
}

.palette--green-50 {
    background: var(--green-50);
}

.palette--green-20 {
    background: var(--green-20);
}

.palette--blue_dark {
    background: var(--blue_dark);
}

.palette--blue {
    background: var(--blue-50);
}

.palette--blue_light {
    background: var(--blue-10);
}

.palette--blue_hover {
    background: var(--blue-30);
}

.palette--blue_dark_button {
    background: var(--blue-100);
}

.palette--red_error_message {
    background: var(--red-100);
}

.palette--red_dark {
    background: var(--red-50);
}

.palette--pink {
    background: var(--red-10);
}

.palette--orange {
    background: var(--yellow-10);
}

.palette--yellow {
    background: var(--yellow-50);
}

.palette--yellow_light {
    background: var(--yellow-20);
}

.palette--black {
    background: var(--black-100);
}

.palette--white {
    background: var(--white-00);
    border: 1px solid var(--black-10);
}

.palette--gray_dark {
    background: var(--black-80);
}

.palette--gray {
    background: var(--gray);
}

.palette--gray_light {
    background: var(--black-10);
}