/*custom.css brukes til å tilpasse design av dokumentasjons-siden. Brukes for å overkjøre docusaurus sine egne variabler opg design.
https://docusaurus.io/docs/styling-layout*/
@import url('https://fonts.googleapis.com/css2?family=Mulish:wght@700&display=swap');

:root {
    --ifm-heading-font-family:'Mulish', sans-serif; 
    --ifm-font-family-base:'Mulish', sans-serif;
    --ifm-heading-font-weight:700;


}


h1, h2, h3, h4, h5, h6 {
    color: var(--ifm-heading-color);
    font-family: var(--ifm-font-family-base);
    font-weight: var(--ifm-heading-font-weight);
    line-height: var(--ifm-heading-line-height);
}


input {
    color: fieldtext;
    letter-spacing: normal;
    word-spacing: normal;
    line-height: normal;
    text-transform: none;
    text-indent: 0px;
    text-shadow: none;
    display: inline-block;
    text-align: start;
    appearance: auto;
    -webkit-rtl-ordering: logical;
    cursor: text;
    background-color: field;
    margin: 0em;
    padding: 1px 2px;
    border-width: 2px;
    border-style: inset;
    border-color: -internal-light-dark(rgb(118, 118, 118), rgb(133, 133, 133));
    border-image: initial;
}

input[type="checkbox" i] {
    background-color: initial;
    cursor: default;
    appearance: auto;
    box-sizing: border-box;
    margin: 3px 3px 3px 4px;
    padding: initial;
    border: initial;
}

/*css- brukt til å designe dokuemntasjons-siden av kvib-docusaurus/docs/designsystems/uu.mdx */
.details {
    outline: none;
    background: white;
    border: none;
}

.details > summary {
    padding: 4px;
    width: auto;
    background-color: white;
    cursor: pointer;
    outline: none;
}

.details > p {
    background-color: white;
    padding: 4px;
    margin: 0;
    color: #A32F00;
}

.material-symbols-outlined {
    font-family: 'Material Symbols Outlined';
    font-weight: normal;
    font-style: normal;
    font-size: 24px;  /* Preferred icon size */
    display: inline-block;
    line-height: 1;
    text-transform: none;
    letter-spacing: normal;
    word-wrap: normal;
    white-space: nowrap;
    direction: ltr;
}

span.size-20 {
    font-size: 20px;
    font-variation-settings: 'OPSZ' 20;
}

.material-icons {
    font-family: 'Material Icons';
    font-weight: normal;
    font-style: normal;
    font-size: 24px;  /* Preferred icon size */
    display: inline-block;
    line-height: 1;
    text-transform: none;
    letter-spacing: normal;
    word-wrap: normal;
    white-space: nowrap;
    direction: ltr;

    /* Support for all WebKit browsers. */
    -webkit-font-smoothing: antialiased;
    /* Support for Safari and Chrome. */
    text-rendering: optimizeLegibility;

    /* Support for Firefox. */
    -moz-osx-font-smoothing: grayscale;

    /* Support for IE. */
    font-feature-settings: 'liga';
}