/*custom.css brukes til å tilpasse design av dokumentasjons-siden. Brukes for å overkjøre docusaurus sine egne variabler opg design.
https://docusaurus.io/docs/styling-layout*/
@import url('https://fonts.googleapis.com/css2?family=Mulish:wght@700&display=swap');

:root {
    --ifm-heading-font-family:'Mulish', sans-serif; 
    --ifm-font-family-base:'Mulish', sans-serif;
    --ifm-heading-font-weight:700;


}


h1, h2, h3, h4, h5, h6 {
    color: var(--ifm-heading-color);
    font-family: var(--ifm-font-family-base);
    font-weight: var(--ifm-heading-font-weight);
}


/*css- brukt til å designe dokuemntasjons-siden av kvib-docusaurus/docs/designsystems/uu.mdx */
.details {
    outline: none;
    background: white;
    border: none;
}

.details > summary {
    padding: 4px;
    width: auto;
    background-color: white;
    cursor: pointer;
    outline: none;
}

.details > p {
    background-color: white;
    padding: 4px;
    margin: 0;
    color: #A32F00;
}

