/* farger */

:root{
    /*svart og hvit*/
    --svart: #222222;
    --hvit: #FFFFFF;

    /*graa*/
    --graa_moerk: #505050;
    --graa: #707070;
    --graa_lys: #F5F2F2;

    /*Blaa*/
    --blaa_moerk: #175092;
    --blaa: #1A589F;
    --blaa_lys: #E4F1F8;
    --blaa_hover: #439CCD;
    --blaa_moerk_knapp: #213060;

    /*groenn*/
    --groenn_standard: #05520A;
    --groenn_hover: #156630;
    --groenn_moerk: #1A833B;
    --groenn_lys: #D0ECD6;

    /*roed og rosa*/
    --roed_feilmelding: #A32F00;
    --roed_moerk: #D04a14;
    --rosa: #F7E6EB;

    /*oransje og gul*/
    --oransje: #FCF1E8;
    --gul: #FFDD9D;
    --gul_lys: #FCEBCD;
}

.palette,
.palette * {
    box-sizing: border-box;
}

.palette {
    display: grid;
    gap: 15px;
    grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
}

.palette__color {
    height: 150px;
    position: relative;
}

.palette__desc {
    padding: 10px;
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    background: rgba(0, 0, 0, 0.4);
    color: var(--hvit);
}

.palette__text {
    width: 100%;
    padding: 10px;
    outline: none;
    border: 1px solid var(--graa_lys);
    border-top: none;
}

.palette--groenn_standard {
    background: var(--groenn_standard);
}

.palette--groenn_hover {
    background: var(--groenn_hover);
}

.palette--groenn_moerk {
    background: var(--groenn_moerk);
}

.palette--groenn_lys {
    background: var(--groenn_lys);
}

.palette--blaa_moerk {
    background: var(--blaa_moerk);
}

.palette--blaa {
    background: var(--blaa);
}

.palette--blaa_lys {
    background: var(--blaa_lys);
}

.palette--blaa_hover {
    background: var(--blaa_hover);
}

.palette--blaa_moerk_knapp {
    background: var(--blaa_moerk_knapp);
}

.palette--roed_feilmelding {
    background: var(--roed_feilmelding);
}

.palette--roed_moerk {
    background: var(--roed_moerk);
}

.palette--rosa {
    background: var(--rosa);
}

.palette--oransje {
    background: var(--oransje);
}

.palette--gul {
    background: var(--gul);
}

.palette--gul_lys {
    background: var(--gul_lys);
}

.palette--svart {
    background: var(--svart);
}

.palette--hvit {
    background: var(--hvit);
    border: 1px solid var(--graa_lys);
}

.palette--graa_moerk {
    background: var(--graa_moerk);
}

.palette--graa {
    background: var(--graa);
}

.palette--graa_lys {
    background: var(--graa_lys);
}



