.material-symbols-outlined {
    font-family: 'Material Symbols Outlined';
    /* font-size: 24px;  Preferred icon size */
    /* display: inline-block; /*skaper konflikt med float */
    /*line-height: 1rem; skaper konflikt med float */
    text-transform: none;
    letter-spacing: normal;
    word-wrap: normal;
    white-space: nowrap;
    direction: ltr;
    vertical-align: text-bottom;
}


 .icon-filled {
     font-variation-settings:
             'FILL' 1,
             'wght' 400,
             'GRAD' 0,
             'opsz' 48
 }

.icon-container {
    box-sizing: border-box;
    gap: 15px;
    display: flex;
}
