/*TODO*/
/*Tekstfelt container*/
.input_text_container {
    position: relative;
}

.exclamation{
    background: var(--roed_feilmelding);
    border-bottom-right-radius: 3px;
    border-top-right-radius: 3px;
    color: #fff;
    font-style: normal;
    height: 100%;
    line-height: 38px;
    position: relative;
    right: 21px;
    text-align: center;
    top: 7px;
    width: 20px;
}


/*Tekstfelt label*/

input[type=text] {
    width: 160px;
    height: 40px;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #213060;
    border-radius: 4px;
    box-sizing: border-box;
    top: 24px;
    background: #FFFFFF;
    transition: linear, 0.2s linear;
}

input[type=text]:focus-visible:active {
    border-color: var(--blaa_hover);
    box-shadow: 0 0 0 2px var(--blaa_hover);
}

input[type=text]:focus-visible {
    outline: var(--blaa_moerk) solid;
}

.input-label {
    font-family: Mulish, sans-serif;
    color: var(--svart);
    font-size: 12px;
    white-space: nowrap;
    display: flex;
}

/*Tekstfelt feilmelding*/

.error-label {
    font-family: 'Mulish', sans-serif;
    color: var(--roed_feilmelding);
    font-size: 12px;
    white-space: nowrap;
    display: flex;
}

.error-label:after {
    content: "*";
    color: var(--roed_feilmelding);
}

input[type=text]:invalid {
    border-color: var(--roed_feilmelding);
}

input[type=text]:invalid:focus-visible {
    outline: var(--roed_feilmelding) solid;
}

/*Tekstfelt hjelpetekst*/
/* .helper-text{
    position: relative;
    display: block;
    font-size: 0.875rem;
    font-style: inherit;
    color: var(--svart); /* Sjekk figma etterpå 
    z-index: 1;
} */

/*Tekstfelt deaktivert*/

input[type=text]:disabled {
    background: var(--graa_lys);
    color: var(--graa_moerk);
    border-color: var(--graa);
}

select {
    box-sizing: border-box;

    /* Auto layout */

    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    padding: 8px;
    gap: 16px;

    width: 256px;
    height: 40px;

    background: #FFFFFF;
    border: 1px solid #000000;
    border-radius: 4px;

    /* Inside auto layout */

    flex: none;
    order: 1;
    align-self: stretch;
    flex-grow: 0;
}