.progressbar__container {
    position: relative;
    width: 25%;
}

.progressbar {
    position: relative;
    display: inline-block;
    width: 100%;
    height: 10px;
    background: #E4F1F8;
    box-shadow: inset 0 0 5px rgba(0, 0, 0, .2);
    border-radius: 4px;
    overflow: hidden;
}

.progressbar:after {
    content: '';
    position: absolute;
    left: 0;
    width: 0;
    height: 100%;
    border-radius: 4px;
    box-shadow: 0 0 5px rgba(0, 0, 0, .2);
}

.demo:after {
    width: 50%;
    background: var(--blaa_moerk);
}
