/*Skjermstørrelser: Spør Wanni om disse størrelsene kontra Figma*/
root{
    --screenBreakSm: 768px; /*Maks størrelse for small-devices*/
    --screenBreakM: 1023px; /*Maks størrelse som for medium-devices*/
    --screenBreakXl: 1440px; /*Minste størrelse for large-devices*/

    /*Annet fra variables.scss*/
    --border-radius: 25.5px; /*For knapper med avrundede hjørner*/
    --skygge: 0 2px 4px 0 rgba(0, 0, 0, 0.5);
}

/*Grid OBS! Hver av størrelsene mangler en verdi fra figma*/
.gridS root {
    /*extra small/small (stretch grid)*/
    --grid-col-s: 4px;
    --grid-margin-s: 16px;
    --grid-gutter-s: 16px;
}

/*Grid OBS! Hver av størrelsene mangler en verdi fra figma*/
.gridMD root {
    /*medium (stretch grid)*/
    --grid-col-m: 8px;
    --grid-margin-m: 64px;
    --grid-gutter-m: 32px;
}

/*Grid OBS! Hver av størrelsene mangler en verdi fra figma*/
.gridL root {
    /*large (center grid)*/
    --grid-col-l: 12px;
    --grid-margin-l: 64px;
    --grid-gutter-l: 32px;
}

details {
    outline: hidden;
    background: white;
}

details > summary {
    padding: 4px;
    width: auto;
    background-color: white;
    cursor: pointer;
    outline: none;
}

details > p {
    background-color: white;
    padding: 4px;
    margin: 0;
    color: #A32F00;
}

mark {
    color: blue;
}


