/*css-klasser for å style søkeknappen i søkefelt. SØkefelt bruker også klasser fra input.css*/
.searchbar__wrapper,
.kv-searchbar__wrapper {
  display: flex;
  flex-wrap: nowrap;
  /*align-items: center;*/
  width: 100%;
}

.searchbar__wrapper .inputField,
.kv-searchbar__wrapper .kv-form__input {
  display: flex;
  box-sizing: border-box;
  width: 100%;
  border-radius: 0.25rem 0 0 0.25rem;
}

/*.searchbar__wrapper .inputField:focus-visible,*/
/*.kv-searchbar__wrapper .kv-form__input:focus-visible {*/

/*}*/

.button__searchbar,
.kv-searchbar__button {
  position: relative;
  background-color: var(--green_dark);
  color: var(--white);
  height: 2.55rem;
  width: 3.5rem;
  border-radius: 0 0.25rem 0.25rem 0;
  z-index: 2;
  left: -0.05rem;
  top: -0.02rem;
}

.button__searchbar:hover,
.kv-searchbar__button:hover {
  background-color: var(--green);
}

.button__searchbar:active,
.kv-searchbar__button:active {
  background-color: var(--green_active);
}

.button__searchbar:focus-visible,
.kv-searchbar__button:focus-visible {
  outline-offset: 0;
}

.button__searchbar span {
  position: relative;
  left: -0.8rem;
}
