name: "Pharos code scan"
on:
  push:
    branches: ["master"]
  pull_request:
    types: [opened, synchronize]
jobs:
  pharos-job:
    name: Run Pharos with Required Permissions
    permissions:
      actions: read
      packages: read
      contents: read
      security-events: write
    runs-on: ubuntu-latest
    steps:
      - name: "Run Pharos"
        uses: kartverket/pharos@v0.1.0
        with:
         trivy: false
