name: Notify new version Slack

on:
  release:
  types: [published]

jobs:
  send_to_slack:
    runs-on: ubuntu-latest
    steps:
      - name: Set message based on event
        id: set_message
        run: |
          if [[ "${{ github.event_name }}" == "release" ]]; then
            echo "::set-output name=version::${{ github.event.release.tag_name }}"
          else
            echo "::set-output name=version::unknown"
          fi
      - name: Send custom JSON data to Slack workflow
        id: slack
        uses: slackapi/slack-github-action@v1.24.0
        with:
          # For posting a rich message using Block Kit
          payload: |
            {
              "text": "En ny versjon av KVIB har blitt publisert!",
              "blocks": [
                {
                  "type": "section",
                  "text": {
                    "type": "mrkdwn",
                    "text": ":kvibbing: *En ny versjon av <https://kartverket.github.io/kvib|KVIB> har blitt publisert!* :kvibbing: \n\n Nyeste versjon: <https://kartverket.github.io/kvib/?path=/docs/info-changelog--docs|${{ steps.set_message.outputs.version }}>."
                  }
                }
              ]
            }
        env:
          SLACK_WEBHOOK_URL: ${{ secrets.SLACK_WEBHOOK_URL }}
          SLACK_WEBHOOK_TYPE: INCOMING_WEBHOOK
