name: "Component Test Runner"
on:
  workflow_run:
    workflows: ["Build"]
    types:
      - completed
jobs:
  test:
    timeout-minutes: 60
    runs-on: ubuntu-latest
    steps:
      - name: Download artifact
        uses: actions/download-artifact@v4
        with:
          name: build-artifact
          path: ./kvib-react
      - uses: actions/checkout@v4
      - uses: actions/setup-node@v4
        with:
          node-version: 20
      - name: Install dependencies
        run: npm install
      - name: Install Playwright
        working-directory: ./apps/storybook
        run: npx playwright install --with-deps
      - name: Build Storybook
        working-directory: ./apps/storybook
        run: npm run build
      - name: Serve Storybook and run tests
        working-directory: ./apps/storybook
        run: |
          npx concurrently -k -s first -n "SB,TEST" -c "magenta,blue" \
            "npx http-server storybook-static --port 6006 --silent" \
            "npx wait-on tcp:6006 && npm run test"
